<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bit.selfmanagementtimetable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SelfManagementTimetable">
        <activity android:name=".Login.LoginAdminActivity"
            android:theme="@style/Theme.SelfManagementTimetable.NoActionBar">
         </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SelfManagementTimetable.NoActionBar">

        </activity>
        <activity android:name=".Login.RegisterActivity"
            android:theme="@style/Theme.SelfManagementTimetable.NoActionBar"/>


        <activity android:name=".Login.SelectionActivity"
            android:theme="@style/Theme.SelfManagementTimetable.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.InputStudentMatrixActivity"
            android:theme="@style/Theme.SelfManagementTimetable.NoActionBar" />
    </application>

</manifest>